<html>
<head>
<title><%- title %></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<%- include ('./partials/header') %>

<%- include ('./partials/messages') %>


<%- body %>


<%- include ('./partials/footer') %>

</body>
</html>